body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, #4577ea, 	#69cfff, #7f9dda);
    background-size: 200% 200%;
    animation: cyberPulse 15s ease infinite;
    font-family: 'Tahoma', 'Segoe UI', sans-serif;
    overflow: hidden;
}

@keyframes cyberPulse {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}